[submodule "vendor/twilight-emacs"]
	path = vendor/twilight-emacs
	url = git://github.com/crafterm/twilight-emacs.git
[submodule "vendor/markdown-mode"]
	path = vendor/markdown-mode
	url = git://code.jblevins.org/markdown-mode.git
[submodule "emacs/vendor/twilight-emacs"]
	path = emacs/vendor/twilight-emacs
	url = git://github.com/crafterm/twilight-emacs.git
[submodule "emacs/vendor/markdown-mode"]
	path = emacs/vendor/markdown-mode
	url = git://code.jblevins.org/markdown-mode.git
[submodule "emacs/vendor/rinari"]
	path = emacs/vendor/rinari
	url = git://github.com/eschulte/rinari.git
[submodule "emacs/vendor/coffee-mode"]
	path = emacs/vendor/coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
